@charset "UTF-8";
/* CSS document*/
* {
	margin: 0;
	padding: 0;
}

h1{
	font-size: 1.5em;
	margin:3px 5px;
}

a{
	color:#ffffaa;
}

.layout_right {
	float: right;
}

.layout_left {
	float: left;
}

.text_right {
	text-align: right;
}

.text_left {
	
	text-align: left;
}

.font_bold {
	font-weight: 700;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.link{
	cursor: pointer;
	color: #ffffaa;
	padding: 0 3px;
}

.link:HOVER{
	text-decoration: underline;	
}
.article_p >h2,h3,h4{
	line-height:3em;	
}
.article_p > p{
	text-indent:2em;
	padding:5px;
	line-height:1.8em;	
}

.article_p img{
	text-align: center;
	max-width: 550px;
	padding:2px;
}


body {
	font-family: 'Microsoft YaHei', 微软雅黑, Arial, Verdana, sans-serif;
	background-image:url('../images/bg2.png');
	background-repeat: repeat;
	margin: 0;
	color:#dfdfdf;
	font-size:0.9em;
	letter-spacing:.0.03em;
	/*filter:alpha(opacity=50); IE滤镜，透明度50%*/
	/*-moz-opacity:0.5; Firefox私有，透明度50%*/
	/*opacity:0.5;其他，透明度50%*/

}

a { /*链接文本*/
	text-decoration: none;
}

a:hover { /*悬停时突显链接*/
	text-decoration: underline;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 40px;
	min-height: 560px;
}

.body_fixed_header {
	margin: 0 0;
	padding: 0 0;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 36px;
	background: #19A97B;
}

header {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

header section#title {
	position: absolute;
	width: 430px;
	height: 36px;
	left: 0px;
	top: 0;
}

header section#title img {
	float: left;
	max-width: 30px;
	max-height: 35px;
	padding: 5px 5px 0;
}

header h2 {
	padding: 0px 0px;
	font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
	font-weight: 400; /*设定下载字体的粗细*/
	font-size: 1.4em;
	line-height: 1.5;
	color: #fff;
	text-shadow: 0 -3px 3px #555;
	display: inline;
}

form.search {
	position: absolute;
	width: 250px;
	top: 5px;
	right: 20px;
}

.search input {
	width: 70px;
	padding: 2px 0 3px 5px;
	border-radius: 10px 0 10px 0;
	outline-style: none;
	background: #888;
	-webkit-transition: 2s width;
	transition: 2s width;
}

.search input:focus {
	width: 150px;
	background: #fff;
}

.search label {
	display: none;
}

section#regist_login {
	position: absolute;
	top: 5px;
	right: 2px;
}

section#regist_login ul {
	float: right;
	padding: 0 20px;
}

section#regist_login li {
	position: relative;
	float: left;
	padding: 0 2px;
	list-style-type: none;
	font-size: 0.8em;
	line-height: 1.5em;
}

section#regist_login li a {
	text-decoration: none;
	letter-spacing: 0.05em;
	color: #fff;
}

section#regist_login li>a:hover {
	color: #afefef;
}

/* header css document end*/

/* flow area css document begin*/
section#flow_area {
	overflow: hidden;
	margin: 10px 0 0 0;
	padding: 0 0 10px;
}

#flow_area article {
	float: left;
	width: 66%;
}

#flow_area article img {
	width: 100%;
	height: 100%;
}

#flow_area aside {
	float: right;
	width: 30%;
}

#flow_area aside h1 {
	font-size: 0.9em;
	padding: 5px 12px;
}

#flow_area aside p {
	color: rgba(255, 230, 147,1);
	font-size: 0.9em;
	line-height: 1.5;
	letter-spacing: .1em;
	text-indent: 1.8em;
}
/* flow area css document end*/

/*resource_area css document begin*/
section#resource_repository {
	border-radius: 10px 0px 10px 0px;
	border: 1px solid #f58c21;
	margin: 8px 0 16px;
	overflow: hidden;
}

section#resource_repository  section+section {
	border-top: 5px solid #19A97B;
}

.resource_area article { /*四本书四栏*/
	float: left;
	width: 20%;
	padding: 10px 0;
	background: none;
}

section#resource_repository section:last-child article {
	border-bottom: none;
}

.resource_area h1 {
	padding: 12px;
}

.resource_area article .inner { /*封面外包装*/
	position: relative; /*为弹出层提供定位上下文*/
	width: 140px; /*包装每一本书*/
	margin: 0 auto; /*在各自article元素内居中每一本书*/
}

.resource_area .inner h3 { /*旋转文字*/
	position: absolute;
	width: 160px;
	bottom: 5px; /*把文字定位在图书右侧*/
	color: #ccc;
	font-size: 1.4em;
	font-family: Lato, helvetica, sans-serif;
	font-style: normal;
	font-weight: 900;
	text-align: left;
}

/*较窄的封面需要不同的偏移量*/
.resource_area article.right:last-child h3 {
	left: 85%;
}

.resource_area article img {
	box-shadow: 0 12px 8px -9px #555;
	height: 150px;
} /*封面阴影*/
.resource_area article aside { /*弹出层共享样式开始*/
	display: none; /*隐藏弹出层*/
	position: absolute; /*相对于包含图片的内部div*/
	z-index: 2;
	width: 200px; /*弹出层宽度*/
	background: #fff;
	padding: 10px 2px 5px; /*弹出层内容边距*/
	border: 2px solid #f58c21;
	border-radius: 10px 0px 10px 0px;
	box-shadow: 4px 4px 16px #555;
	color: #555;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: .8em;
	line-height: 1.5em;
}

.resource_area article:hover aside {
	display: block;
} /*鼠标悬停于封面时显示弹出层*/
.resource_area article aside li {
	padding: .25em 0 .75em 1em; /*列表项的垂直间距和左边距*/
	list-style-type: none; /*去掉默认的项目符号*/
	line-height: 1.2em;
}

.resource_area article aside li a { /*链接文本*/
	text-decoration: none;
	font-size: 1.2em;
	color: #616161;
}

.resource_area article aside li a:hover { /*悬停时突显链接*/
	color: #333;
} /*弹出层共享样式结束*/
.resource_area article.left aside { /*左侧两本书*/
	left: 84%;
	top: 14px; /* 把弹出层定位在图片右侧*/
}

.resource_area article.right aside { /*右侧两本书*/
	right: 84%;
	top: 14px; /*把弹出层定位在图片左侧*/
}

.resource_area article aside:after { /*橙色三角形*/
	content: ""; /*需要有内容，这里是一个空字符串*/
	position: absolute; /*相对于弹出层定位*/
	top: 33px;
	border: 12px solid;
	height: 0px;
	width: 0px; /*收缩边框创造三角形*/
}

.resource_area article.left aside:after { /*左侧图书弹出层的三角形定位及颜色*/
	right: 100%;
	border-color: transparent #f58c21 transparent transparent;
}

.resource_area article.right aside:after { /*右侧图书弹出层的三角形定位及颜色*/
	left: 100%;
	border-color: transparent transparent transparent #f58c21;
}

.resource_area article aside:before { /*白色三角形*/
	content: ""; /*需要有内容，这里是一个空字符串*/
	position: absolute; /*相对于弹出层定位*/
	border: 8px solid;
	height: 0px;
	width: 0px; /*收缩边框创造三角形*/
	z-index: 100; /*保证白色三角形在最前面*/
	top: 37px;
}

.resource_area article.left aside:before { /*左侧图书白色三角形的样式、位置和颜色*/
	right: 100%;
	border-color: transparent white transparent transparent;
}

.resource_area article.right aside:before { /*右侧图书白色三角形的样式、位置和颜色*/
	left: 100%;
	border-color: transparent transparent transparent white;
}

/*resource_area css document end*/

/*footer css document begin*/
footer {
	width: 960px;
    margin: 0 auto;
	padding: .5em 0 .35em 0; /*内容上下的间距*/
	border-radius: 10px 0px 10px 0px;
	box-shadow: 0 12px 8px -9px #555;
	margin-bottom: 12px;
	text-align: center;

}

footer p { /*文本行的样式*/
	font-weight: 400;
	font-size: .85em;
	letter-spacing: -.05em;

	
}

footer p a { /*文本行中的链接*/
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	font-size: 1em;
	color: #4eb8ea;
	text-decoration: none;
}

footer p a:hover {
	color: #777;
}

footer ul { /*链接列表*/
	display: inline-block; /*收缩包围列表*/
	margin: 4px 0 0;
}

footer li {
	list-style-type: none; /*去掉默认的项目符号*/
	float: left; /*让列表项水平排列*/
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: .85em;
}

footer li+li a {
	border-left: 1px solid #ccc; /*链接分隔线*/
}

footer li a {
	text-decoration: none; /*去掉链接默认的下划线*/
	padding: 0 5px; /*链接间距*/
}

footer a:hover {
	color: #777;
}

.foot_li {
	padding: 5px 10px;
}

.foot_li label {
	float: left;
	color: #00a;
	letter-spacing: 0.09em;
	font-weight: 600;
	font-size: 0.9em;
}

.foot_li section {
	float: left;
	font-size: 0.9em;
}

.foot_law {
	text-align: center;
}
/*footer css document end*/

/* minor nav  */
nav.navigation {
	margin: 5px 0;
	font-size: .8em;
	padding: 1px;
	overflow: hidden;
}

.navigation h2 {
	float: left;
	padding: 0 4px;
	font-size: 1em;
	line-height: 1.2;
}

.navigation li {
	float: left;
	list-style-type: none;
	padding: 0 2px;
}

.navigation li+li:before {
	content: ">";
	padding: 5px;
}

.basic_article {
	padding: 8px;
	border-bottom: 1px solid #fff;
	font-size: .9em;
}

.mouse_hover:HOVER {
	background-color: rgba(0, 0, 0, 0.51);
}

.article_title span {
	font-size: .9em;
}

.gd_u_title {
	width: 240px;
	display: inline-block;
}

.gd_u_type {
	width:120px;
	display: inline-block;
}

.gd_u_time {
	width: 100px;
	display: inline-block;
}
.gd_handler{
	float: right;
	padding:0 10px;
}

.gd_highlight{
	color: #990033;
}

.article_context {
	padding: 5px 0px;
	font-size: 0.8em;
}

/* pop windows begin*/
#pop_divbg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	top: 0px;
	left: 0px;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	background-color: #666;
}

#pop_diveditcontent {
	position: absolute;
	z-index: 1000;
	background-color: #fff;
}

.pop_divheader {
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	background-color: #efefef;
	border: 1px solid #fff;
	border-radius: 2px 0 2px 0;
	box-shadow: 1px 1px 2px #888;
}

.pop_content {
	padding: 20px 20px;
}

.pop_title {
	font-weight: 600;
}

.pop_close {
	float: right;
	cursor: pointer;
}
/* pop windows end*/

/* pagination begin*/
.page {
	font: 14px arial;
	white-space: nowrap;
	padding-top: 10px;
	padding-left: 35px;
}

.page .n {
	height: 28px;
	padding: 0 18px;
	border: 1px solid #e1e2e3;
}

.page a {
	cursor: pointer;
}

.page .pc {
	width: 28px;
	height: 28px;
	border: 1px solid #e1e2e3;
	cursor: pointer;
}

.page span {
	display: block;
}

.page a,.page strong {
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	line-height: 28px;
	text-decoration: none;
	overflow: hidden;
	margin-right: 9px;
	background: white;
}

.page strong .pc {
	border: 0;
	width: 28px;
	height: 28px;
	line-height: 28px;
}
/* pagination end*/

/* comment of user begin*/
.result_comment {
	border: 1px solid;
	margin: 5px 0px;
}

.result_header {
	padding: 5px;
	margin-bottom: 5px;

	font-size: 0.9em;
	text-align: right;
	color:#DBF521;
}

.user_comment {
	padding: 12px;
	border-bottom: 1px solid #ccc;
}

.user_comment .say_content {
	font-size: 0.9em;
}

.title_dash {
	display: inline-block;
	width: 40px;
	border: 1px dashed #aaa;
	margin: 0.4em;
}

.user_comment .user_title {
	text-align: right;
	font-size: 0.7em;
	letter-spacing: 0.08em;
	font-style: italic;
}

.user_comment .comment_title {
	font-size: 0.7em;
	letter-spacing: 0.08em;
	font-style: italic;
	padding-bottom: 5px;
}

/* comment of user end*/
.toolbox_header {
	padding: 0;
	border: 1px solid #fff;
	background-color: #e5eef8;
	font-size: 0.9em;
}

/* login and register Dialog begin*/
form.login {
	margin: 0 auto;
	width: 16em;
}

.login section {
	overflow: hidden; /*包围控件和标注*/
	padding: .25em 0; /*表单元素的间距*/
}

.login section>label {
	font-weight: 400;
	float: left;
	width: 4em; /*标注栏的宽度*/
	margin: .5em .2em 0 0; /*外边距保持文本与控件的间距*/
	line-height: 1.1;
	color: #555;
}

.login input[type="text"],input[type="password"] {
	float: left;
	width: 15em; /*控件栏的宽度*/
	margin: .2em 0 0 .5em;
	padding: 6px 10px 6px; /*输入文本与控件的间距*/
	color: #555;
	font-size: .8em;
	outline: none; /*去掉默认的轮廓线*/
}

.login input:HOVER {
	border-color: #efefef;
}

.login section input[type=button] {
	float: right; /*将按钮与控件右边对齐*/
	width: auto; /*重设按钮宽度*/
	padding: 5px 10px 5px;
	border-radius: 5px;
	border: 1px solid rgb(52, 152, 219);
	background-color: rgb(52, 152, 219);
	font-weight: 800;
	color: #fff;
	letter-spacing: 0.1em;
}

.login section p { /*内容为"not signed up?"*/
	float: right;
	margin: .2em 1em 0;
	text-align: right;
	font-size: .8em;
	line-height: 1.2;

}

.login section p a {
	
} /*到注册表单的链接*/
.login section p a:hover {
	color: #777;
}

.tab_header {
	border-bottom: 1px solid #EAEAEA;
}

.tab_header span {
	display: inline-block;
	padding: 8px 8px;
	border: 1px solid #EAEAEA;
	border-radius: 5px 0 5px 0;
	letter-spacing: 0.09em;
	cursor: pointer;
}

span.selected {
	background-color: #017cb8;
	color: #EAEAEA;
	font-weight: 700;
}
/* login and register Dialog begin*/

/* validate msg begin*/
.validate_msg {
	position:absolute;
	line-height: 22px;
	min-width: 12px;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	background-color: #F90;
	color: #fff;
}

.validate_msg:BEFORE{
	content: ""; /*需要有内容，这里是一个空字符串*/
	position: absolute; /*相对于弹出层定位*/
	border: 6px solid;
	height: 0px;
	width: 0px; /*收缩边框创造三角形*/
	right: 100%;
	border-color: transparent #f58c21 transparent transparent;
}
/* validate msg end*/

/* page table begin */
.table_page {
}

.page_title {
	border-bottom: 1px solid #efefef;
	font-size: 1.3em;
	font-weight: 700;
}

.page_content {
	width:700px;
	padding:10px;
}

.page_point {
	color: #ed1d23;
}

.table_title {
	font-weight: 700;
}

.table_content {
	width:600px;
}

.field_title {
	font-weight: bold;
	font-size: 18px;
	background-color: #ddd;
}

table{
	border-collapse: collapse;
	width: 100%;
}
table ,tr, td{
	
}

table td{
	line-height:1.5em;
	text-align: center;
	padding:5px;
}

table td >input[type="text"], td >textarea {
	border:0;
	margin:0;
	padding:5px 0;
	width:95%;	
}

table td >textarea {
	height: 7em;
}

.page_catalog{
	position: fixed;
	top:150px;
	left:850px;
	
}

dt{
	height: 4em;	
}
.circle {
	display:inline-block;
	border:2px solid #00bb22;
	border-radius:50%;
	width:10px;
	height: 10px;	
	/* 宽度和高度需要相等 */
	line-height: 12px;
	text-align: center;
}
.cricle_center{
	display:inline-block;
	border-radius:50%;
	border: 2px solid #00bb22;
	vertical-align: middle;
	margin-top: -5px;
}

/* page table end*/

.basic_btn{
	padding: 0.4em;
	line-height: 2em;
	background-color: rgba(0, 0, 0, 0.51);
	border-color: #3399CC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.3);
	color:#fff;
}

.basic_btn:HOVER{
	background-color: #336699;
	border-color: #ccffff;
	box-shadow: -2px 2px 1px #336699;
}

.sponsor_info p{
	font-size:.9em;
	line-height: 1.8em;
}

span.p_header{
	font-weight: 700;
	letter-spacing:0.3em;
	color:rgba(255, 230, 147, 0.81);
}

.tab_ul {
  height: 58px;
  border-bottom: 1px solid #CCC;
}

.tab_ul li {
  float: left;
  width: 131px;
  height: 58px;
  border-right: 1px solid #dedbdb;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
  font-family: "微软雅黑";
  cursor: pointer;
}

.tab_ul .selected{
	background: rgba(0, 0, 0, 0.51);
	height: 59px;
}

li{
	list-style-type: none;
}

.project_detail_section{
	overflow:hidden;
	margin:12px;
	padding:12px;
	border-bottom:1px solid #ccc;
	font-size:.8em;
}

.project_detail_section p{
	padding:3px 12px 3px 12px;
}

.person_title {
	border:1px solid #ccc;
	background: rgba(0, 0, 0, 0.51);
	line-height: 58px; 
	text-align: center;
	font-size: 1.2em;
}

.data_list_summary{
	font-style:italic;
	font-size:1.3em;
	font-weight:700;
	color:#ffffff;
}


.ic-arrow {
    cursor: pointer;
}

.ic-arrow {
    background: url(../images/icons_07207ae.png) no-repeat;
    display: inline-block;
    zoom: 1;
    width: 15px;
    height: 14px;
    vertical-align: -3px;
    margin-left: 3px;
}

.ic-arrow-down {
    background-position: 0 -18px;
}

.ic-arrow-down:hover {
    background-position: -15px -18px;
}

.ic-arrow-up {
    background-position: 0 -32px;
}

.ic-arrow-up:hover {
    background-position: -15px -32px;
}

/*专家在线指导*/
.mag{font-size:12px;}
.mag #magFloatingBar {position: fixed;right: 0;z-index: 7;top: 200px;}
.mag #magFloatingBarTab {position: absolute;right: 0px;width: 16px;float: left;background-color: #017CB8;padding: 10px;color: #fff;-webkit-border-radius: 3px 0 0 3px;-moz-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;text-align: center;-moz-box-shadow: -3px 3px 3px #ddd;-webkit-box-shadow: -3px 3px 3px #ddd;box-shadow: -3px 3px 3px #ddd;cursor: pointer;}
.mag #magFloatingBarTab span {display: block;font-size: 1.2em;padding: 1px 0;}
.mag #magFloatingBarContent {position: absolute;right: 0; display:none; width: 142px;float: left;border: 5px solid #017CB8;-webkit-border-radius: 0 0 0 3px;-moz-border-radius: 0 0 0 3px;border-radius: 0 0 0 3px;padding: 10px 10px 10px 5px;background-color: #fff;}
.mag #magFloatingBarContent .item,
.mag #magFloatingBarContent .lastItem {float: left;}
.mag #magFloatingBarContent .item {padding-bottom: 18px;}
.mag #magFloatingBarContent .itemText {padding-left: 0px;width: 135px;float: left;color: #444;font-size: 1.1em;}
.mag #magFloatingBarContent .itemText a {display: block;padding:5px 0px 5px 22px;background: url('../images/qq.gif') no-repeat left center;}

.panelList_zj ul{padding:0; border:0; margin:0;}
.panelList_zj ul li{ height:25px; line-height:25px; list-style:none; width:180px; margin:2px 2px 2px 5px; font-size:13px;}
.panelList_zj ul li:hover{ text-decoration:none; cursor:pointer; color:#0066CC; background-color:#ddd;}
#searchUser_zj{border: 0px solid #3366cc;color: Black; width: 165px; height: 20px; line-height:15px; font-size: 12px; padding:3px 0 0 0; color:#ccc;}


/* layer tips class*/
body .demo-class .layui-layer-title{background:#017CB8; color:#fff; border: none;}
body .demo-class .layui-layer-content{background:#555555;}
body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .demo-class .layui-layer-btn a{background:#333;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}