<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p [%t] %c.%M(%L) | %m%n"/>
        </layout>
    </appender>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">          
        <param name="File" value="log/output.log" /><!-- 设置日志输出文件名 -->       
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->       
        <param name="Append" value="true" />       
        <param name="MaxBackupIndex" value="10" />       
        <layout class="org.apache.log4j.PatternLayout">       
            <param name="ConversionPattern" value="%p [%t] %c{1}.%M(%L) | %m%n" />       
        </layout>       
    </appender>       

	  <appender name="activexAppender" class="org.apache.log4j.DailyRollingFileAppender">       
        <param name="File" value="log/hdfs.log" /><!-- 设置日志输出文件名 -->       
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />         
        <layout class="org.apache.log4j.PatternLayout">       
        <param name="ConversionPattern" value="%p [%t] %c{1}.%M(%L) | %m%n" />         
        </layout>         
    </appender>     
    
    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    
    <logger name="com.huayu">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="Info"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
