<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="connectionProperties" value="${jdbc.dbcp.connectionProperties}" />
		<property name="initialSize" value="${jdbc.dbcp.initialSize}" />
		<property name="maxActive" value="${jdbc.dbcp.maxActive}" />
		<property name="minIdle" value="${jdbc.dbcp.minIdle}" />
		<property name="maxIdle" value="${jdbc.dbcp.maxIdle}" />

		<!--事务相关的属性 -->
		<property value="false" name="defaultAutoCommit" />
		<!--连接健康情况 -->
		<property value="/* ping */ select 1" name="validationQuery" />
		<property value="true" name="testWhileIdle" />
		<property value="false" name="testOnReturn" />
		<property value="false" name="testOnBorrow" />
		<property value="30000" name="timeBetweenEvictionRunsMillis" />
		<!--回收Idle连接的时间间隔：30秒 -->
		<property value="1800000" name="minEvictableIdleTimeMillis" />
		<!--Idle时间，超时后回收，1800秒 -->
		<property value="200" name="numTestsPerEvictionRun" />
		<!--和maxActive数值一致 -->

		<!--连接泄露回收参数 -->
		<property value="true" name="logAbandoned" />
		<property value="true" name="removeAbandoned" />
		<property value="180" name="removeAbandonedTimeout" />
	</bean>

	<!-- transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- enable transaction demarcation with annotations -->
	<tx:annotation-driven />

	<tx:advice id="userTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" propagation="REQUIRED" read-only="false" />
			<tx:method name="insert*" propagation="REQUIRED" read-only="false" />
			<tx:method name="add*" propagation="REQUIRED" read-only="false" />
			<tx:method name="update*" propagation="REQUIRED" read-only="false" />
			<tx:method name="find*" propagation="SUPPORTS" />
			<tx:method name="get*" propagation="SUPPORTS" />
			<tx:method name="select*" propagation="SUPPORTS" />
			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<!--把事务控制在Service层 -->
		<aop:pointcut id="serviceOperation"
			expression="execution(* com.huayu.etl.backend.service..*Service.*(..))" />
		<aop:advisor pointcut-ref="serviceOperation" advice-ref="userTxAdvice" />
	</aop:config>

	<!-- simplest possible SqlSessionFactory configuration -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:conf/mapper-config/*.xml" />
	</bean>

	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.huayu.etl.backend.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

</beans>