#parse("/vm/header.vm")

		<nav class="navigation">
			<h2>当前位置:</h2>
			<ul>
				<li><a href="../index">迪格学苑</a></li>
				<li>个人信息</li>
			</ul>
		</nav>
		<script type="text/javascript" src="../js/hy.user.js"></script>	
		<section class="aside_article">
			<aside  >
				#set($curPage = "center")
				#parse("/vm/user_nav.vm")	
				
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_user">
						<span class="tab1 tab_selected" onclick="hyCom.selectedTab('user',0)">个人设置</span>
						<span class="tab1 tab_unselected" onclick="hyCom.selectedTab('user',1)">密码修改</span>
					</p>
					<section id="tab_detail_user">
					<div >
						<section class="layout_right" style="padding:20px 30px;">
						<img  class="portrait" src="/images/portrait/$stringTools.toStr($data.imgSrc , 'default.jpg')" />	
						<p>${data.name}</p>
						</section>
						<form action="#">
						<section>
							<section>
								<input class="hidden" id="id" value="$data.id"/>
								<label for="petName">昵称：</label>
								<input class="un-editable" type="text" value="$stringTools.toStr($data.petName)" id="petName"  disabled="disabled"/>
							</section>
							<section>
								<label for="email">邮件：</label>
								<input class="un-editable" type="text" value="$stringTools.toStr($data.email)" id="email"  disabled="disabled"/>
							</section>
							<section>
								<label for="imessager">QQ/Wechat：</label>
								<input class="un-editable" type="text" value="$stringTools.toStr($data.imessager)" id="imessager"  disabled="disabled"/>
							</section>
							<section>
								<label for="phone">联系方式：</label>
								<input class="un-editable" type="text" value="$stringTools.toStr($data.phone)" id="phone"  disabled="disabled"/>
							</section>
							<section>
								<label for="regtime">注册时间：</label>
								<input class="un-editable" type="text" value="$dateTools.format($data.regtime)" id="regtime"  disabled="disabled"/>
							</section>
							<section>
								<label for="profile">个人介绍：</label>
								<textarea class="un-editable" rows="10" cols="20" id="profile"  disabled="disabled">$stringTools.toStr($data.profile)</textarea>
							</section>
							<section>
							   <p id="update_p_message" />
								<p id="edit_p"><input type="button" value="编辑" onclick="hyUser.toUnEditBaseInfo(false)"/></p>
								<p id="update_p" class="hidden">
								   <input type="button" value="更新" onclick="hyUser.updateBaseInfo()"/> 
								   <input type="button" value="取消" onclick="hyUser.toUnEditBaseInfo(true)"/> 
								</p>
							</section>
						</section>	
						</form>
					</div>					
						
						
					<div class="hidden">
						<form id="passwordForm">
							<section>
								<label for="oldPassword">密码：</label>
								<input type="password" id="oldPassword" />
								<p id="oldPassword_msg"></p>
							</section>
							</br>
							<section>
								<label for="password">修改密码：</label>
								<input type="password" 	id="password"  />
								<p id="password_msg"></p>
							</section>
							</br>
							<section>
								<label for="password2">修改密码确认：</label>
								<input type="password" id="password2"/>
								<p id="password2_msg"></p>
							</section>
							</br>
							<section>
								<p id="pwd_update_msg"></p>
								<input type="button" value="确认" onclick="hyUser.updatePassword()">
							</section>
						</form>
					</div>
					</section>
				</section>
			</article>
		</section>

#parse("/vm/footer.vm")	