#parse("/vm/header.vm")
<nav class="navigation">
			<h2>当前位置:</h2>
			<ul>
				<li><a href="../index">迪格学苑</a></li>
				<li>用户管理</li>
			</ul>
		</nav>
<section class="aside_article">
			<aside  >
				#set($curPage = "usermanage")
				#parse("/vm/user_nav.vm")			
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_res">
						<span class="tab1 tab_selected">用户管理</span>
					</p>
					<div class="result_header">
						 共计 <span class="data_list_summary">${data.count}</span> 条消息
					</div>
					<section id="tab_detail_res">
						<div>
							<section class="basic_article">
								<p>
									<span class="gd_u_title">用户名称</span>
									<span class="gd_u_type">角色</span>
									<span class="gd_u_type" >星级</span>
									<span class="gd_u_time">注册时间</span>
									<span class="gd_handler">操作</span>
								</p>	
							</section>
							
							#if( $data.list.size() > 0)
							#foreach($elem in ${data.list})
							<section class="mouse_hover basic_article">
								<section class="article_title">
									<span class="gd_u_title">${elem.name}</span>
									
									<span class="gd_u_type" id="utype_${elem.id}">$data.userTypes.get(${elem.role}).typeName</span> 
									<span class="gd_u_type" id="level_${elem.id}">${elem.level}</span>
									<span class="gd_u_time">$dateTools.format($elem.regtime) </span>
									<span class="gd_handler">
										<a href="#" onclick="hyUser.showDetail($elem.id , true);" >详情</a>
										#if( $uid != $elem.id)
										<a href="#" onclick="hyUser.showDetail($elem.id , false);" >修改</a>
										<a href="#" onclick="hyUser.opt($elem.id);" >删除</a>
										#end
									</span>
								</section>
							</section>		
							#end
							#else
								<section class="basic_article">
									<p>暂无数据</p>
								</section>
							#end
						</div>
						<div id="detailDIV" class="hidden">
							<form action="#">
								<section>
									<input type="text" id="userId" class="hidden">
									<label for="userName">用户名称:</label>
									<input type="text" id="userName"  disabled="disabled" />
								</section>
								<section>
									<label for="petName">昵称:</label>
									<input type="text" id="petName"  disabled="disabled" />
								</section>
								<section>
									<label for="email">邮箱:</label>
									<input type="text" id="email"  disabled="disabled" />
								</section>
								<section>
									<label for="cardID">身份证：</label>
									<input type="text" id="cardID"  disabled="disabled" />
								</section>
								<section>
									<label for="imessager">IM:</label>
									<input type="text" id="imessager"  disabled="disabled" />
								</section>
								<section>
									<label for="phone">手机:</label>
									<input type="text" id="phone"  disabled="disabled" />
								</section>
								<section>
									<label for="level">星级（1~5）:</label>
									<input type="text" id="level" disabled="disabled" />
								</section>
								<section>
									<label for="role">角色:</label>
									<select id="role" style="padding:5px" disabled="disabled">
										#foreach($elem in ${data.userTypes.values()})
											#if($elem.typeId != 101)
											<option value="$elem.typeId">$elem.typeName</option>
											#end
										#end
									</select>
								</section>
								<section>
									<label for="regtime">注册时间:</label>
									<input type="text" id="regtime"  disabled="disabled" />
								</section>
								<section id="user_opt" class="hidden">
									<input type="button" value="修改" onclick="hyUser.updateM()">
								</section>
							</form>
						</div>
							<div id="page" class="page"></div>
<script type="text/javascript">
paginate.init("page",{
	selectedNum: 1,
	count: ${data.count},
	url : "m"
});
</script>
					</section>
						
				</section>
			</article>
		</section>
	
	
<script type="text/javascript" src="../js/hy.user.js"></script>
#parse("/vm/footer.vm")	