#parse("/vm/header.vm")
<nav class="navigation">
			<h2>当前位置:</h2>
			<ul>
				<li><a href="./index">迪格学苑</a></li>
				<li>文档管理</li>
			</ul>
		</nav>
<section class="aside_article">
			<aside  >
				#set($curPage = "projectmanage")
				#parse("/vm/user_nav.vm")			
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_res">
						<span class="tab1 tab_selected">项目管理</span>
					</p>
					<div class="result_header">
						 共计 <span class="data_list_summary">${data.count}</span> 条
					</div>
					<section id="tab_detail_res">
						<div>
							<section class="basic_article">
								<p>
									<span class="gd_u_title">项目名称</span>
									<span class="gd_u_type">审核信息</span>
									<span class="gd_u_type" >状态</span>
									<span class="gd_u_time">上传时间</span>
									
									<span class="gd_handler">操作</span>
								</p>	
							</section>
							<script>
							 var auditStatus = $jsonTools.toJson($data.projectStatus);
							 var attenderRoles = $jsonTools.toJson($data.projectRoles);
							 var attenderStatus = $jsonTools.toJson($data.projectAttenderStatus);
							</script>
							#if( $data.list.size() > 0)
							#foreach($elem in ${data.list})
							<section class="mouse_hover basic_article">
								<section class="article_title">
									<!-- <p><img  style="width:100px;height:120px;" src="../uploadfile/${elem.filePath}images/${elem.fileName}.png"/></p>-->
									<span class="gd_u_title"><a href="../p/m_detail?id=${elem.id}" target="_blank">${elem.name}</a></span>
									<span class="gd_u_type">$stringTools.toStr(${elem.checkMsg})</span> 
									<span class="gd_u_type "  style="color:#FF6666;"  id="status_${elem.id}">$data.projectStatus.get(${elem.status}).typeName</span>
									<span class="gd_u_time">$dateTools.format($elem.createrDate) </span>
									<span class="gd_handler">
											<span class="link" onclick="hy.project.opt($elem.id);" >处理</span>
										<section id="op${elem.id}" class="op">	
											<ul class="dropDown">
											 <li><span class="link" onclick="hy.project.audit($elem.id, 4)">审核通过</span></li>
											 <li><span class="link" onclick="hy.project.audit($elem.id, 3)">审核失败</span></li>
											</ul>
										</section>	
										<span><a href="../sp/new?id=${elem.id}&name=${elem.name}" target="_blank">添加子项目</a></span>
									</span>
								</section>
							</section>		
							#end
							#else
								<section class="basic_article">
									<p>暂无数据</p>
								</section>
							#end
						</div>
					
							<div id="page" class="page"></div>
<script type="text/javascript">
paginate.init("page",{
	selectedNum: $pageNum,
	count: ${data.count},
	searchKey : "",
	url : "m?"
});
</script>
					</section>
				</section>
			</article>
		</section>
	
	
<script type="text/javascript" src="../js/hy.project.js"></script>
#parse("/vm/footer.vm")	